<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#home">Flippers</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/store">Store</a>
                </li>
                <li><a href="#contact">Contact</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/cart" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
                    <i class="glyphicon glyphicon-shopping-cart" />
                    <b>{{cart.getTotalCount()}}</b> items, <b>{{cart.getTotalPrice() | currency:"&#8377;"}}</b>
                </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav><br>
<h1>{{product.name}}</h1>
<hr>
<div class="row">
    <div class="col-md-4">
        <img ng-src="{{product.imageLarge}}" class="img-responsive"/>
    </div>
    <div class="col-md-8">
        <h4>{{product.name}}</h4>
        <div class="row">
            <div class="col-xs-5">
                <div class="ratings">
                    <div class="star" ng-repeat="i in [product.rating] | makeRange">
                        <span class="glyphicon glyphicon-star"></span>
                    </div>
                    <div class="star" ng-repeat="i in [product.rating, 4] | makeRange">
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </div>
                </div>
            </div>
            <div class="col-xs-7">
                47 Reviews
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12">
                <h5>Features</h5>
                <ul>
                    <li ng-repeat="feature in product.features">{{feature}}</li>
                </ul>
                <br>
                <h2>Rs {{product.price}} /-</h2>
                <p>Inclusive of all taxes</p>
                <button class="btn btn-lg btn-primary"  ng-click="cart.addItem(product.id, product.name, product.price, 1,product.image)" ng-disabled="cart.getTotalCount(product.id) > 0">
                    <span class="glyphicon glyphicon-shopping-cart"></span>Add to Cart</button>
                <button
                        class="btn btn-lg btn-danger"
                        ng-click="cart.addItem(product.id, product.name, product.price, -10000)"
                        ng-disabled="cart.getTotalCount(product.id) < 1">
                    <span class="glyphicon glyphicon-trash"></span> remove from cart
                </button>
                <br>
                <span ng-show="cart.getTotalCount(product.id) > 0" class="text-info">This item is in the cart</span>
            </div>
        </div>

    </div>
</div>